header,
main {

  padding: 1rem;
  max-width: calc(100% - 2rem);
}

header,
footer {
  margin: auto;
  width: 1024px;
  font-size: 1.2rem;
  background-color: #e60073;
  color: #fff;
}

a {
  color: #00f;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.space-x-4 > * + * {
  margin-left: 1rem;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.py-6 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.custom-button {
  background-color: #6a5acd; /* SlateBlue */
  color: white;
  border: none;
}

.custom-button:hover {
  background-color: #5a4bbd; /* Slightly darker SlateBlue */
}
