---
import ShoelaceLayout from '../layouts/ShoelaceLayout.astro';
import CardGrid from '../components/CardGrid.astro';

const showThemeDemo = false; // Set to true to show the Theme Demo card
---

<ShoelaceLayout title='ad-astro'>
  <header>
    <h1>ad-astro</h1>
  </header>
  <main>
    <CardGrid>
      <sl-card>
        <h2>Premier jeu</h2>
        Compter de 1 à 10 en 12 langues.
        <sl-button
          slot='footer'
          variant='primary'
          outline
          href='./MesJeux'
          class=''>Joue!</sl-button
        >
      </sl-card>
    </CardGrid>
    <CardGrid>
      <sl-card>
        <h2>Deuxième jeu</h2>
        Le jeu de Taquin ou Puzzle 15.
        <sl-button
          slot='footer'
          variant='primary'
          outline
          href='./puzzle15'
          class=''>Joue!</sl-button
        >
      </sl-card>
    </CardGrid>
    {
      showThemeDemo && (
        <CardGrid>
          <sl-card>
            <h2>Theme Demo</h2>
            Light / Dark / System
            <sl-button
              slot='footer'
              variant='primary'
              outline
              href='./theme-demo'
              class='custom-button'
            >
              Joue!
            </sl-button>
          </sl-card>
        </CardGrid>
      )
    }
    <CardGrid>
      <sl-card>
        <h2>Family tree</h2>
        Familles.
        <sl-button
          slot='footer'
          variant='primary'
          outline
          href='./familytree'
          class='custom-button'>Joue!</sl-button
        >
      </sl-card>
    </CardGrid>
    <CardGrid>
      <sl-card>
        <h2>Tree Diagram</h2>
        A d3.hierarchy tree diagrammer lit component.
        <sl-button slot='footer' variant='primary' outline href='./treediagram'
          >Demo</sl-button
        >
      </sl-card>
    </CardGrid>
    <CardGrid>
      <sl-card>
        <h2>Upload, Proccess and Download a File</h2>
        A file processor lit component.
        <sl-button
          slot='footer'
          variant='primary'
          outline
          href='./fileprocessor'>Demo</sl-button
        >
      </sl-card>
    </CardGrid>
  </main>
</ShoelaceLayout>

<style>
  header,
  main {
    margin: auto;
    width: 1024px;
    max-width: 100%;
  }
  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: left;
    margin: var(--sl-spacing-4x-large) 0 var(--sl-spacing-3x-large);
  }
</style>
