---
import ShoelaceLayout from '../layouts/ShoelaceLayout.astro';
import PremierJeuCompter from '../components/PremierJeuCompter.astro';
---

<ShoelaceLayout title='Mes Jeux'>
  <!-- <h1 class='centered'>Mes Jeux</h1> -->
  <PremierJeuCompter />
</ShoelaceLayout>

<style>
  .centered {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
</style>
