---

---

<footer class='bg-gray-900 text-white py-6 px-6'>
  <div class='flex justify-between items-center'>
    <p>
      &copy; <a
        href='https://github.com/rudifa'
        target='_blank'
        rel='noopener noreferrer'>rudifa</a
      > 2024 Project ad-astro. All rights reserved.
    </p>
    <nav>
      <ul class='flex space-x-4'>
        <li>
          <a
            href='https://github.com/rudifa/ad-astro'
            target='_blank'
            rel='noopener noreferrer'>Project Sources</a
          >
        </li>

        <!-- <li><a href='/privacy'>Privacy</a></li>
        <li><a href='/terms'>Terms</a></li>
        <li><a href='/sitemap'>Sitemap</a></li> -->
      </ul>
    </nav>
  </div>
</footer>
